<!-- Products Cards -->
<div
     class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5  my-4 g-3 d-flex align-items-center justify-content-around ">
     <ng-container>
          <div class="col">
               <!-- <div class="col" [hidden]="selected_test != product.categoryId "> -->
               <div class=" card " [class.bg-dark.text-light]="product.quantity == 0">
                    <img Lightbox [src]="product.imageUrl" class="" alt="...">
                    <div class="card-body">
                         <h5 class="card-title  display-6 fw-bold " [class.text-light]="product.quantity == 0">
                              {{product.name}}</h5>

                         <h5 class="card-text text-success  fw-bold  " [class.text-light]="product.quantity == 0">
                              ${{product.price}}</h5>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center  ">
                         <button class="btn btn-sm      text-light fw-bold "
                              [style.background-color]="(product.quantity==0) ? 'gray' : '#dc3545'"
                              routerLink="/order">Back</button>


                         <ng-container [ngSwitch]="product.quantity">
                              <h6 *ngSwitchCase="0" class="card-text fw-bold text-light ">out Of Stock</h6>
                              <h6 *ngSwitchCase="1" class="card-text fw-bold text-dark  ">Last One</h6>
                              <h6 *ngSwitchCase="2" class="card-text fw-bold text-dark  ">Last 2️⃣</h6>
                              <h6 *ngSwitchDefault class="card-text fw-bold text-danger"> Available:
                                   {{product.quantity}}</h6>
                         </ng-container>



                    </div>
               </div>
          </div>
     </ng-container>



</div>